[Desktop Entry]
Version=1.0
Type=Application
Name=Text Helper IA
Comment=Assistente de processamento de texto com Inteligência Artificial
Exec=/home/alexandrewada/text-helper-ia/text_helper_ia_launcher.sh
Icon=/home/alexandrewada/text-helper-ia/icon.png
Terminal=false
StartupNotify=true
Categories=Office;
Keywords=text;ai;openai;processamento;assistente;inteligencia;artificial;
StartupWMClass=TextHelperIA
MimeType=text/plain;
Path=/home/alexandrewada/text-helper-ia
